@use "./base.scss";

/* 强制应用浅色背景颜色 */
:root[data-theme="light"], :root[aria-theme="light"] {
  --light: #ebd43f !important;
  background-color: var(--light) !important;
}

/* 还原默认字号 */
html { font-size: 100% !important; }
body, p, li { font-size: 1rem; line-height: 1.6; }

/* 巨大词条墙美化 */
.global-tags .tags li {
  background-color: var(--highlight);
  padding: 0.4rem 1rem !important;
  border-radius: 8px;
  border: 1px solid var(--lightgray);
  transition: all 0.2s ease;
  &:hover {
    transform: translateY(-3px);
    background-color: var(--secondary);
    a { color: white !important; }
  }
  a { font-weight: bold; text-decoration: none !important; color: var(--tertiary); }
}
/* 彻底隐藏标签前的自动 # 号 */
.tag-link::before {
  content: none !important; /* 禁用自动生成的 # 符号 */
  display: none !important;
}

/* 调整间距，因为去掉了符号，可以适当增加文字边距 */
.tags li a {
  padding-left: 0 !important; 
}